@media  (min-width:1080px) and (max-width:1920px)
{
    .name {
        margin:2% 60% -3% 15%;
    }
    body {
        background-color: rgb(226, 223, 124);
    }
    .bayan-container {
        margin: 5% 0;
    }
    .bayan-container .bayan-body {
        margin: 0 auto;
        height: 0;
        line-height: 3%;
        padding: 0 2%;
        box-sizing: border-box;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        font-family: Verdana, sans-serif; 
        font-size: 12%;
        box-shadow: 0 0.1em 0.5em rgba(227, 84, 84, 0.2), 0 10px 16px rgba(197, 18, 18, 0.2);
    }
    .bayan-container .bayan-body  div {
        margin: 0 0 3%;    
    }

    .bayan-container label {
        cursor: pointer;
        border-top: 3px solid #858125;
        display: block;
        padding: 1% 2%;
        width: 70%;
        font-weight: 200;
        box-sizing: border-box;
        z-index: 80;
        font-family: Verdana, sans-serif;   
        font-size: 1.1em;
        margin: 1% 15% 1% 15%;
        transition: color .35s;
    }
    .bayan-container label:hover {
        color: rgba(198, 19, 19, 0.92);
    }
    .bayan-container input{
        display: none;
    }
    .bayan-container label:before {
        content: '\276F';
        float: right;
    }

    .bayan-container input:checked + label {
        background-color: rgb(226, 223, 124);
        color: rgb(102, 125, 167);
        box-shadow: 0 0.5em 1.7em rgba(207, 38, 38, 0.4), 0 1.7em 1.9em rgba(219, 11, 11, 0.3);
    }
    .bayan-container input:checked + label:before {
        transform: rotate(90deg);
        transition: .35s;
    }

    .bayan-container input:checked + label + .bayan-body {
        height: auto;
        margin-top: -0.3em;
        color:rgb(49 41 7);
        padding: 1.1em 1.9em 0.8em;
    }
    .bayan-body {
        width: 40%;
        height: 40%;
        position: relative;
        cursor: pointer;
        height: 0;
        transition: 0.5s;
    }

    .text{
        position: absolute;
        font: bold 24px/34px Helvetica, Sans-Serif;
        padding-left: 1.2em;
        padding-right: 1.2em;

    }  
} 

@media  (min-width:820px) and (max-width:1080px)
{
    .name {
        margin:2% 60% -3% 15%;
    }
    body {
        background-color: rgb(119, 102, 114);
    }
    .bayan-container {
        margin: 5% 0;
    }
    .bayan-container .bayan-body {
        margin: 0 auto;
        height: 0;
        line-height: 3%;
        padding: 0 2%;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        font-family: Verdana, sans-serif; 
        font-size: 12%;
    }
    .bayan-container .bayan-body  div {
        margin: 0 0 3%;
        
    }
    .bayan-container label {
        cursor: pointer;
        border-top: 3px solid #4f375d;
        display: block;
        padding: 1% 2%;
        width: 70%;
        font-weight: 200;
        z-index: 80;
        font-family: Verdana, sans-serif;   
        font-size: 1.1em;
        margin: 1% 15% 1% 15%;
        transition: color .35s;
    }
    .bayan-container label:hover {
        color: rgba(255, 255, 255, 0.92);
    }
    .bayan-container input{
        display: none;
    }
    .bayan-container label:hover:before {
        content: '\276F';
        float: right;
        color: #d7aab6;
    }

    .bayan-container input:checked + label {
        background-color: rgb(119, 102, 114);
        color: #eaa076;
        box-shadow: 0 0.5em 1.7em rgba(176, 68, 68, 0.4), 0 28px 30px rgba(76, 41, 41, 0.3);
    }
    .bayan-container input:checked + label:before {
        transform: rotate(90deg);
        transition: .35s;
    }
    .bayan-container input:checked + label + .bayan-body {
        height: auto;
        margin-top: -0.3em;
        color: rgb(233 39 151);
        padding: 1.1em 1.9em 0.8em;
    }
    .bayan-body {
        width: 40%;
        height: 40%;
        position: relative;
        cursor: pointer;
        height: 0;
        transition: 0.5s;
    }
    .text{
        position: absolute;
        font: bold 20px/30px Helvetica, Sans-Serif;
        padding-left: 1.2em;
        padding-right: 1.2em;
    }  
} 
@media  (min-width:320px) and (max-width:820px)
{
    .name {
        margin:2% 60% -3% 15%;
    }
    body {
        background-color: rgb(123, 140, 145);
    }
    .bayan-container {
        margin: 5% 0;
    }
    .bayan-container .bayan-body {
        margin: 0 auto;
        height: 0;
        line-height: 3%;
        padding: 0 2%;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        font-family: Verdana, sans-serif; 
        font-size: 12%;
    }
    .bayan-container .bayan-body  div {
        margin: 0 0 3%;
        
    }
    .bayan-container label {
        cursor: pointer;
        border-top: 3px solid #132334;
        display: block;
        padding: 1% 2%;
        width: 70%;
        font-weight: 200;
        z-index: 80;
        font-family: Verdana, sans-serif;   
        font-size: 0.8em;
        margin: 1% 15% 1% 15%;
        transition: color .35s;
    }
    .bayan-container label:hover {
        color: rgba(19, 57, 82, 0.92);
    }
    .bayan-container input{
        display: none;
    }
    .bayan-container label:hover:before {
        content: '\276F';
        float: right;
        color: #879498;
    }

    .bayan-container input:checked + label {
        background-color: rgb(123, 140, 145);
        color: rgb(132 64 29);
        box-shadow: 0 0.5em 1.7em rgba(58, 73, 84, 0.4), 0 28px 30px rgba(105, 145, 204, 0.3);
    }
    .bayan-container input:checked + label:before {
        transform: rotate(90deg);
        transition: 35s;
    }

    .bayan-container input:checked + label + .bayan-body {
        height: auto;
        margin-top: -0.3em;
        color: rgb(14 58 71);
        padding: 1.1em 1.9em 0.8em;
    }
    .bayan-body {
        width: 40%;
        height: 40%;
        position: relative;
        cursor: pointer;
        height: 0;
        transition: 0.5s;
    }
    .text{
        position: absolute;
        font: bold 14px/16px Helvetica, Sans-Serif;
        padding-left: 1.2em;
        padding-right: 1.2em;

    }  
} 