@media  (min-width:1080px) and (max-width:1920px)
{
    .name {
        margin:2% 60% -3% 15%;
    }
    body {
        background-color: rgb(226, 223, 124);
    }
    .bayan-container {
        margin: 5% 0;
    }
    .bayan-container .bayan-body {
        margin: 0 auto;
        height: 0;
        line-height: 3%;
        padding: 0 2%;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        font-family: Verdana, sans-serif; 
        font-size: 12%;
        box-shadow: 0 0.1em 0.5em rgba(227, 84, 84, 0.2), 0 10px 16px rgba(197, 18, 18, 0.2);
    }
    .bayan-container .bayan-body  div {
        margin: 0 0 3%;
        
    }
    .bayan-container label {
        cursor: pointer;
        background-color: rgb(213, 209, 95);
        display: block;
        padding: 1% 2%;
        width: 70%;
        font-weight: 200;
        z-index: 80;
        font-family: Verdana, sans-serif;   
        font-size: 1.1em;
        margin: 1% 15% 1% 15%;
        transition: color .35s;
        box-shadow: 0 0.2em 0.5em rgba(184, 222, 36, 0.2), 0 0.7em 1em rgba(234, 241, 13, 0.2);
    }
    .bayan-container label:hover {
        color: rgba(255, 255, 255, 0.92);
    }
    .bayan-container input{
        display: none;
    }
    .bayan-container label:hover:before {
        content: '\276F';
        float: right;
        color: #ae8c13;
    }

    .bayan-container input:checked + label {
        background-color: #d5b02a;
        color: #FFF;
        box-shadow: 0 0.5em 1.7em rgba(207, 38, 38, 0.4), 0 1.7em 1.9em rgba(219, 11, 11, 0.3);
    }
    .bayan-container input:checked + label:before {
        transform: rotate(90deg);
    }
    .bayan-container input:checked + label + .bayan-body {
        height: auto;
        margin-top: -0.3em;
        color: rgb(234, 230, 213);
        padding: 1.1em 1.9em 0.8em;
    }
    .bayan-body {
        width: 40%;
        height: 40%;
        position: relative;
    }
    .text{
        position: absolute;
        font: bold 24px/34px Helvetica, Sans-Serif;
        padding-left: 1.2em;
        padding-right: 1.2em;

    }  
} 

@media  (min-width:820px) and (max-width:1080px)
{
    .name {
        margin:2% 60% -3% 15%;
    }
    body {
        background-color: rgb(211, 98, 58);
    }
    .bayan-container {
        margin: 5% 0;
    }
    .bayan-container .bayan-body {
        margin: 0 auto;
        height: 0;
        line-height: 3%;
        padding: 0 2%;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        font-family: Verdana, sans-serif; 
        font-size: 12%;
        box-shadow: 0 0.1em 0.5em rgba(203, 151, 151, 0.2), 0 10px 16px rgba(229, 160, 160, 0.2);
    }
    .bayan-container .bayan-body  div {
        margin: 0 0 3%;
        
    }
    .bayan-container label {
        cursor: pointer;
        background-color: rgb(208, 120, 43);
        display: block;
        padding: 1% 2%;
        width: 70%;
        font-weight: 200;
        z-index: 80;
        font-family: Verdana, sans-serif;   
        font-size: 1.1em;
        margin: 1% 15% 1% 15%;
        transition: color .35s;
        box-shadow: 0 0.2em 0.5em rgba(80, 65, 39, 0.2), 0 10px 16px rgba(234, 241, 13, 0.2);
    }
    .bayan-container label:hover {
        color: rgba(255, 255, 255, 0.92);
    }
    .bayan-container input{
        display: none;
    }
    .bayan-container label:hover:before {
        content: '\276F';
        float: right;
        color: #a02e1a;
    }

    .bayan-container input:checked + label {
        background-color: #892c12;
        color: #FFF;
        box-shadow: 0 0.5em 1.7em rgba(207, 38, 38, 0.4), 0 28px 30px rgba(219, 11, 11, 0.3);
    }
    .bayan-container input:checked + label:before {
        transform: rotate(90deg);
    }
    .bayan-container input:checked + label + .bayan-body {
        height: auto;
        margin-top: -0.3em;
        color: rgb(234, 230, 213);
        padding: 1.1em 1.9em 0.8em;
    }
    .bayan-body {
        width: 40%;
        height: 40%;
        position: relative;
    }
    .text{
        position: absolute;
        font: bold 20px/30px Helvetica, Sans-Serif;
        padding-left: 1.2em;
        padding-right: 1.2em;
    }  
} 
@media  (min-width:320px) and (max-width:820px)
{
    .name {
        margin:2% 60% -3% 15%;
    }
    body {
        background-color: rgb(72, 34, 132);
    }
    .bayan-container {
        margin: 5% 0;
    }
    .bayan-container .bayan-body {
        margin: 0 auto;
        height: 0;
        line-height: 3%;
        padding: 0 2%;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        font-family: Verdana, sans-serif; 
        font-size: 12%;
        box-shadow: 0 0.1em 0.5em rgba(227, 84, 84, 0.2), 0 10px 16px rgba(197, 18, 18, 0.2);
    }
    .bayan-container .bayan-body  div {
        margin: 0 0 3%;
        
    }
    .bayan-container label {
        cursor: pointer;
        background-color: rgb(98, 19, 90);
        display: block;
        padding: 1% 2%;
        width: 70%;
        font-weight: 200;
        z-index: 80;
        font-family: Verdana, sans-serif;   
        font-size: 1.1em;
        margin: 1% 15% 1% 15%;
        transition: color .35s;
        box-shadow: 0 0.2em 0.5em rgba(184, 222, 36, 0.2), 0 10px 16px rgba(234, 241, 13, 0.2);
    }
    .bayan-container label:hover {
        color: rgba(255, 255, 255, 0.92);
    }
    .bayan-container input{
        display: none;
    }
    .bayan-container label:hover:before {
        content: '\276F';
        float: right;
        color: #431b44;
    }

    .bayan-container input:checked + label {
        background-color: #660e5b;
        color: #FFF;
        box-shadow: 0 0.5em 1.7em rgba(207, 38, 38, 0.4), 0 28px 30px rgba(219, 11, 11, 0.3);
    }
    .bayan-container input:checked + label:before {
        transform: rotate(90deg);
    }
    .bayan-container input:checked + label + .bayan-body {
        height: auto;
        margin-top: -0.3em;
        color: rgb(234, 230, 213);
        padding: 1.1em 1.9em 0.8em;
    }
    .bayan-body {
        width: 40%;
        height: 40%;
        position: relative;
    }
    .text{
        position: absolute;
        font: bold 24px/30px Helvetica, Sans-Serif;
        padding-left: 1.2em;
        padding-right: 1.2em;

    }  
} 